<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Sentimientos y Analizadores</title>
    <!-- Se incluye el enlace al estilo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Enlace al inicio -->
        <a class="navbar-brand" href="/">Automatas</a>
        
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Enlace al analizador semántico -->
                <li class="nav-item">
                    <a class="nav-link" href="/analizador_semantico">Analizador Semántico</a>
                </li>
                <!-- Enlace al analizador léxico -->
                <li class="nav-item">
                    <a class="nav-link" href="/analizador_lexico">Analizador Léxico</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Mensaje de bienvenida -->
    <div class="container mt-4">
        <h1>Bienvenido a la página de inicio</h1>
        <h2>¡Explora nuestras herramientas de análisis semántico y léxico!</h2s>
    </div>
</body>
</html>

